.common{
    transition: all .3s ease;
}
.hide{
    height:0;
    overflow: hidden;
}
.show{
    height:40px;
}
.bInfo{
    width:100%;
    position: absolute;
    background-color: aqua;
    bottom:0;
}